@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

*{
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

 

@keyframes slide {
  0% {
    transform: translateX(-50%);
   
  }
  100% {
     transform: translateX(0%);
  }
}

.animate-slide {
  animation: slide 30s linear infinite;
  }
.animate-slide:hover {
  animation-play-state: paused;
}
